name: CI
on: [push, pull_request]

# TODO: build examples on CI
#   May require a special support for build-only mode in btest

jobs:
  ubuntu-excluding-macos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        run: rustup toolchain install stable --no-self-update --profile minimal
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -qq -y mono-devel clang make mingw-w64 wine64 gcc-aarch64-linux-gnu qemu-user
          git clone https://git.sr.ht/~rabbits/uxn11
          cd uxn11
          make cli
      - name: Build Toolchain
        run: |
          make -B
      - name: Run Tests
        run: |
  macos-aarch64:
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        run: rustup toolchain install stable --no-self-update --profile minimal
      - name: Build Toolchain
        run: make -B
      - name: Run Tests
        run: ./build/btest -t gas-aarch64-darwin
  macos-x86_64:
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        run: rustup toolchain install stable --no-self-update --profile minimal
      - name: Build Toolchain
        run: make -B
      - name: Run Tests
        run: ./build/btest -t gas-x86_64-darwin
  windows-x86_64:
    name: windows
    runs-on: windows-latest
    steps:
      - name: Clone GIT repo
        uses: actions/checkout@v4
      - name: Install Rust
        run: rustup toolchain install stable --no-self-update --profile minimal
      - name: Build Toolchain
        run:  make -B mingw32-all
      - name: Run Tests
        run: ./build/btest.exe -t gas-x86_64-windows
